/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Orbitron", sans-serif; */
}

:root{
    --calc-color: rgb(248, 248, 248);
    --btn-color: rgb(10, 65, 82);
    --bg: rgb(90, 168, 219);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.calc{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    background-color: white;
    >div{
        width: 100%;
    }
}
#last_calc{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    padding-right: 15px;
    color: rgb(100, 100, 100);
    background-color: var(--calc-color);
    border-radius: 20px 20px 0 0;
    
    &:focus{
        outline: none;
    }
}
#calc{
    width: 100%;
    height: 100px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    background-color: var(--calc-color);
    padding-right: 15px;
    &:focus{
        outline: none;
    }
}
.results{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 375px;
    >div{
        &:nth-child(17)>input{
            border-radius: 0 0 0 20px;
        }
        &:nth-child(19){
            grid-column: span 2;
            >input{
                border-radius: 0 0 20px 0;
            }
            
        }
        >input{
            width: 100%;
            height: 100%;
            border: none;
            font-size: 24px;
            font-weight: 600;
            background-color: var(--btn-color);
            color: white;
            transition: .5s;

            &:hover{
                background-color: rgba(10, 65, 82, .8);
                transition: .5s;
            }
        }
    }
}
.btn_change{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    top: 10px;
    left: 10px;
    transition: .6s;

    &:hover{
        transition: .6s;
        background-color: #c4c1c1;
    }
}
.history{
    display: none;
    width: 80%;
    padding-top: 75px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 75px;
    >a{
        width: 100%;
        border-radius: 10px;
        background-color: rgb(240, 240, 240);
        transition: .6s;
        padding: 5px;
        margin-bottom: 10px;

        &:hover{
            transition: .6s;
            background-color: #c4c1c1;
        }

        >p:nth-child(1){
            color: rgb(116, 116, 116);
            font-size: 14px;
            font-weight: 600;
            padding: 4px 0 4px 4px;
        }
        >p:nth-child(2){
            font-size: 18px;
            padding: 0 0 4px 4px;
            font-weight: 600;
        }
    }
}

#no_history{
    width: 100%;
    text-align: center;
    margin-top: 180px;
    color: rgb(116, 116, 116);
    font-weight: 600;
    font-size: 20px;
}